Mobile/webservice/ex005/WebContent/wsdl/PessoaController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://controle.cmp1144.pucgoias.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://controle.cmp1144.pucgoias.br" xmlns:intf="http://controle.cmp1144.pucgoias.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://controle.cmp1144.pucgoias.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="hello">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloResponse">
    <complexType>
     <sequence>
      <element name="helloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPessoaXML">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPessoaXMLResponse">
    <complexType>
     <sequence>
      <element name="getPessoaXMLReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPessoaJSON">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPessoaJSONResponse">
    <complexType>
     <sequence>
      <element name="getPessoaJSONReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPessoaJSONRequest">

      <wsdl:part element="impl:getPessoaJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPessoaXMLRequest">

      <wsdl:part element="impl:getPessoaXML" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPessoaXMLResponse">

      <wsdl:part element="impl:getPessoaXMLResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloResponse">

      <wsdl:part element="impl:helloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPessoaJSONResponse">

      <wsdl:part element="impl:getPessoaJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloRequest">

      <wsdl:part element="impl:hello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PessoaController">

      <wsdl:operation name="hello">

         <wsdl:input message="impl:helloRequest" name="helloRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloResponse" name="helloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPessoaXML">

         <wsdl:input message="impl:getPessoaXMLRequest" name="getPessoaXMLRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPessoaXMLResponse" name="getPessoaXMLResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPessoaJSON">

         <wsdl:input message="impl:getPessoaJSONRequest" name="getPessoaJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPessoaJSONResponse" name="getPessoaJSONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PessoaControllerSoapBinding" type="impl:PessoaController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="hello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPessoaXML">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPessoaXMLRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPessoaXMLResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPessoaJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPessoaJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPessoaJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PessoaControllerService">

      <wsdl:port binding="impl:PessoaControllerSoapBinding" name="PessoaController">

         <wsdlsoap:address location="http://localhost:8080/ex005/services/PessoaController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
